<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candlestick Screener</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;margin: 20px;}
        .Bullish { background: green; color: white;}
        .Bearish { background: red; color:white;}
        .td {padding: 6px}
    </style>
</head>
<body>
    <h1>Candlestick <b>Screener</b></h1>
    <form method="GET">
        <select name="pattern">
            {% for pattern in patterns %}
            <option value="{{pattern}}" {% if pattern == current_pattern %} selected="selected" {% endif %}>{{patterns[pattern]}}</option> 
            {% endfor %}  
        </select>
        <input type="submit" value="掃描(Scan)"/>
    </form>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Singnal</th>
        </tr>
        {% for stock in stocks %}    
        {% if stocks[stock][current_pattern] %}
            <tr>
                <td>{{ stock }}</td>
                <td>{{ stocks[stock]['company']}}</td>
                <td class="{{stocks[stock][current_pattern]}}">{{ stocks[stock][current_pattern]}}</td>
            </tr>          
            <tr>
                <td  colspan="3">
                    <img src="https://finviz.com/chart.ashx?t={{stock}}&ty=c&ta=1&p=d&s=l"/>
                </td>
            </tr>  
        {% endif %} 
    {% endfor%}
    </table>
    
</body>
</html>